.cover__link {
  color: inherit;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 245px;
  padding-top: 245px;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 44, 47, 0.3);
  z-index: -1;
  transition: background-color ease-in-out 0.3s;
}

.cover__link:hover::before {
  background: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
  .cover__link {
    padding-bottom: 195px;
    padding-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    padding-bottom: 115px;
    padding-top: 115px;
  }
}

@media screen and (max-width: 425px) {
  .cover__link {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    padding-bottom: 33px;
    padding-top: 33px;
  }
}
