.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 1184px; 
}

@media screen and (max-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 928px; 
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 720px; 
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 186px; 
  }
}