.place__url {
  line-height: 170%;
  font-size: 12px;
  font-weight: 400;
  color: #AAAAAA;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  .place__url {
    line-height: 100%;
  }
}
